* {
  margin: 0;
  padding: 0;
}
body {
  /* margin: 10px; */
}
.container {
  display: block;
  width: 100%;
  /* background-color: darkgray; */
  border-radius: 10px;
  padding: 0.1%;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  background-color: grey;
  color: white;
  font-size: 50px;
  /* padding:10px; */
  width: 100vw;
  height: 15vh;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  background-color: rgb(200, 218, 42);
  height: 100vh;
  color: white;
  font-size: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vw;
}
.sec-1 {
  /* border:1px solid black; */
  display: flex;
  flex-direction: row;
  margin: 2px;
  width: 100vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec-1-box {
  background-color: turquoise;
  /* border:1px solid red; */
  height: 50%;
  width: 20%;
  margin: 30px;
  border-radius: 50%;
  text-align: center;
  justify-content: center;
}
.sec-2 {
  display: flex;
  flex-direction: row;
  /* border:1px black solid; */
  height: 80vh;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100vw;
}
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 76vh;
  background-color: tomato;
  color: white;
  font-size: 50px;
  margin: 5px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 76vh;
  margin: 5px;
}

.right-box {
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  color: whitesmoke;
  height: 25vh;
  font-size: 50px;
}
.sec-3 {
  /* border:1px black solid; */
  height: 60vh;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.sec-3-box {
  background-color: brown;
  width: 25%;
  margin: 5px;
}

.sec-4 {
  /* border:1px solid black; */
  background-color: darkblue;
  height: 20vh;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 50px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}